body {
	background-color: #FFF;
}
.centerBox, .centerBoxResults {
	background-color: #EFEFEF;
	margin: auto;
	border-radius: 10px;
	font-family: Arial,Helvetica,sans-serif;
	padding: 20px;
	margin-top: 20px;
}
.centerBox {
	width: 200px;
}
.crimeResults {
	width: 50%;
}
h1, h2 {
	font-weight: 500;
	text-align: center;
	padding: 10px 20px;
}
.crimeButton {
	width: 100%;
	margin-top: 10px;
	height: 60px;
}
.centerBox form {
	text-align: center;
}
.centerBox input[type='text']{
	width: 10%;
	margin: auto;
	font-size: 20px;
	text-align: center;
	margin: 5px 0;
	text-transform: uppercase;
}
@media screen and (min-width: 600px) {
	.postCodeInput {
		width: auto;
		min-width: 300px;
		display: inline;
	}
	.crimeButton {
		width: 300px;
		height: auto;
	}
}
.noHoverCell:hover {
	background-color: transparent !important;
}
.centerBox input[type='submit']{
	border-radius: 3px;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #AAA;
	background: #DDD url("/images/uniGrade.png") repeat scroll 0% 0%;
	width: 83%;
	color: #666;
	font-weight: 600;
	margin: 5px 0;

}
.centerBox input[type='submit']:hover, .centerBox input[type='submit']:active {
	background: #BBB url("/images/uniGrade.png") repeat scroll 0% 0%;
	border: 1px solid #888;
}
.error {
	color: red;
}
.centerBox select {
	width: 84%;
	text-align: center;
	padding: 5px 10px;
	margin: 5px 0;
}
.centerBoxResults table{
	border-collapse: collapse;
	margin-top: 10px;
}
.centerBoxResults table tr th, .centerBoxResults table tr td {
	border: 1px solid #CCC;
}
.crimeBreakdown {
	width: 100%;
}